# Workshop 8 - Summarising Data with Pandas

In [2]:
import pandas as pd

## Importing and Inspecting Data

In [2]:
# importing data
pollution = pd.read_csv('LSTM-Multivariate_pollution.csv')
pollution

,date,pollution,dew,temp,press,wnd_dir,wnd_spd,snow,rain
0,2/01/2010 0:00,129,-16,-4.0,1020.0,SE,1.79,0,0
1,2/01/2010 1:00,148,-15,-4.0,1020.0,SE,2.68,0,0
2,2/01/2010 2:00,159,-11,-5.0,1021.0,SE,3.57,0,0
3,2/01/2010 3:00,181,-7,-5.0,1022.0,SE,5.36,1,0
4,2/01/2010 4:00,138,-7,-5.0,1022.0,SE,6.25,2,0
...,...,...,...,...,...,...,...,...,...
43795,31/12/2014 19:00,8,-23,-2.0,1034.0,NW,231.97,0,0
43796,31/12/2014 20:00,10,-22,-3.0,1034.0,NW,237.78,0,0
43797,31/12/2014 21:00,10,-22,-3.0,1034.0,NW,242.70,0,0
43798,31/12/2014 22:00,8,-22,-4.0,1034.0,NW,246.72,0,0
43799,31/12/2014 23:00,12,-21,-3.0,1034.0,NW,249.85,0,0

In [8]:
pollution = pd.read_csv('LSTM-Multivariate_pollution.csv', parse_dates = ['date'], index_col = ['date'])
pollution

                  pollution  dew  temp   press wnd_dir  wnd_spd  snow  rain
date
2/01/2010 0:00          129  -16  -4.0  1020.0      SE     1.79     0     0
2/01/2010 1:00          148  -15  -4.0  1020.0      SE     2.68     0     0
2/01/2010 2:00          159  -11  -5.0  1021.0      SE     3.57     0     0
2/01/2010 3:00          181   -7  -5.0  1022.0      SE     5.36     1     0
2/01/2010 4:00          138   -7  -5.0  1022.0      SE     6.25     2     0
...                     ...  ...   ...     ...     ...      ...   ...   ...
31/12/2014 19:00          8  -23  -2.0  1034.0      NW   231.97     0     0
31/12/2014 20:00         10  -22  -3.0  1034.0      NW   237.78     0     0
31/12/2014 21:00         10  -22  -3.0  1034.0      NW   242.70     0     0
31/12/2014 22:00          8  -22  -4.0  1034.0      NW   246.72     0     0
31/12/2014 23:00         12  -21  -3.0  1034.0      NW   249.85     0     0

[43800 rows x 8 columns]

In [5]:
pollution.info()

<class 'pandas.core.frame.DataFrame'>
Index: 43800 entries, 2/01/2010 0:00 to 31/12/2014 23:00
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pollution  43800 non-null  int64
 1   dew        43800 non-null  int64
 2   temp       43800 non-null  float64
 3   press      43800 non-null  float64
 4   wnd_dir    43800 non-null  object
 5   wnd_spd    43800 non-null  float64
 6   snow       43800 non-null  int64
 7   rain       43800 non-null  int64
dtypes: float64(3), int64(4), object(1)
memory usage: 3.0+ MB

In [6]:
pollution.describe()

,pollution,dew,temp,press,wnd_spd,snow,rain
count,43800.000000,43800.000000,43800.000000,43800.000000,43800.000000,43800.000000,43800.000000
mean,94.013516,1.828516,12.459041,1016.447306,23.894307,0.052763,0.195023
std,92.252276,14.429326,12.193384,10.271411,50.022729,0.760582,1.416247
min,0.000000,-40.000000,-19.000000,991.000000,0.450000,0.000000,0.000000
25%,24.000000,-10.000000,2.000000,1008.000000,1.790000,0.000000,0.000000
50%,68.000000,2.000000,14.000000,1016.000000,5.370000,0.000000,0.000000
75%,132.250000,15.000000,23.000000,1025.000000,21.910000,0.000000,0.000000
max,994.000000,28.000000,42.000000,1046.000000,585.600000,27.000000,36.000000

In [7]:
pollution.index

Index(['2/01/2010 0:00', '2/01/2010 1:00', '2/01/2010 2:00', '2/01/2010 3:00',
       '2/01/2010 4:00', '2/01/2010 5:00', '2/01/2010 6:00', '2/01/2010 7:00',
       '2/01/2010 8:00', '2/01/2010 9:00',
       ...
       '31/12/2014 14:00', '31/12/2014 15:00', '31/12/2014 16:00',
       '31/12/2014 17:00', '31/12/2014 18:00', '31/12/2014 19:00',
       '31/12/2014 20:00', '31/12/2014 21:00', '31/12/2014 22:00',
       '31/12/2014 23:00'],
      dtype='object', name='date', length=43800)

## Selecting and Filtering Data

In [29]:
# selecting a column

In [ ]:
# selecting a row

In [ ]:
# selecting an element

In [ ]:
# selecting a slice

In [ ]:
# selecting with loc

In [ ]:
# filtering

## Computed Columns

In [ ]:
# element-wise operators

In [ ]:
# apply method

## Aggregates

In [ ]:
# one aggregate

In [ ]:
# multiple aggregates

## Grouping

In [ ]:
# grouped aggregate